# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\!!!_projects\2021\new_auth_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
